page-login {

.logo{
 height: 18vh;
  width: 18vh;
  margin: auto;
  display: block;
}
.login {
background-color:#FDFEFE;

}
.login-button {
background-color:#FDB813;

}

.login-giris-input{

margin-top:8%;

}
.facebook-button{
background-color:#3b5998;

}


}
